#oops a {
	color: rgb(255,255,255);
	text-decoration: underline;
}

#hex {
	color: rgb(255, 255, 255);
	font-size: 4em;
	text-align: center;
	margin-top: 4%;
	text-shadow: 0 1px 0 #ccc,
	   0 2px 0 #c9c9c9,
	   0 3px 0 #bbb,
	   0 4px 0 #b9b9b9,
	   0 5px 0 #aaa,
	   0 6px 1px rgba(0,0,0,.1),
	   0 0 5px rgba(0,0,0,.1),
	   0 1px 3px rgba(0,0,0,.3),
	   0 3px 5px rgba(0,0,0,.2),
	   0 5px 10px rgba(0,0,0,.25),
	   0 10px 10px rgba(0,0,0,.2),
	   0 20px 20px rgba(0,0,0,.15);
}

#oops {
	font-family: 'Armata', sans-serif;
	text-align: center;
	color: rgb(255, 255, 255);
	padding-top: 3%;
	line-height: 1.5em;
}

#main-tag {
	padding-top: 3em;
    font-size: 3em;
    color: rgb(255, 255, 255);
    text-align: center;   
	font-family: 'Exo', sans-serif;
	line-height: 1.1em;
	font-weight: 700;
}

#title-text {
	font-family: 'Exo', sans-serif;
	font-size: 8em;
	color: rgb(255,255,255);
	font-weight: 700;
	text-align: center;
	padding-top: 1em;
	text-shadow: 0 1px 0 #ccc,
		   0 2px 0 #c9c9c9,
		   0 3px 0 #bbb,
		   0 4px 0 #b9b9b9,
		   0 5px 0 #aaa,
		   0 6px 1px rgba(0,0,0,.1),
		   0 0 5px rgba(0,0,0,.1),
		   0 1px 3px rgba(0,0,0,.3),
		   0 3px 5px rgba(0,0,0,.2),
		   0 5px 10px rgba(0,0,0,.25),
		   0 10px 10px rgba(0,0,0,.2),
		   0 20px 20px rgba(0,0,0,.15);
}

pre {
    width: 100%;
    background-color: rgba(206, 206, 206, 0.79);
    border-radius: 5px;
    height: auto;
    font-family: 'Inconsolata';
    padding-top: 1em;
    margin-top: 1em;
 }
 
 #title-text span {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
 }
 
  #title-text:hover .first {
	visibility: hidden;
  }
  
  #title-text:hover .second {
	visibility: visible;
  }
  
 #title-text .second {
	visibility: hidden;
}
