.special-link p {
	text-align: center;
	padding-left: 10%;
	padding-right: 10%;
	line-height: 1.5;
}

#subtag {
	text-align: center;
	color: rgb(199, 182, 109);
	font-size: 1.6em;
	font-family: 'Pacifico', cursive;
}

#contactlist {
	text-align: center;
	display: block;
    width: 100%;
	margin-bottom: 0.2;
}

.contactlink {
	padding-left: 1em;
	padding-right: 1em;
}




