#hometext{
    font-size: 2em;  
    padding-top: 3%;
	text-align: center;
	width: 100%;
}

.introline {
	font-family: 'Lobster', cursive;
	font-size: 1.3em;
	color: rgb(217, 204, 150);
}

.introtext {
	height: 250px;
}

.rot-words span{
	margin: 0 auto;
	left: 0;
	right: 0;
	font-family: 'Lobster', cursive;
	color: rgb(199, 182, 109);
	font-size: 1.7em;
	position: absolute;
	opacity: 0;
	overflow: hidden;
	-webkit-animation: rotateW 18s linear infinite 0s;
	-ms-animation: rotateW 18s linear infinite 0s;
	animation: rotateW 18s linear infinite 0s;
	padding: 0.3em;
}

.rot-words span:nth-child(2) { 
    -webkit-animation-delay: 3s; 
	-ms-animation-delay: 3s; 
	animation-delay: 3s; 
}

.rot-words span:nth-child(3) { 
    -webkit-animation-delay: 6s; 
	-ms-animation-delay: 6s; 
	animation-delay: 6s; 
}

@-webkit-keyframes rotateW {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateW {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(-30px); }
	5% { opacity: 1; -ms-transform: translateY(0px);}
    17% { opacity: 1; -ms-transform: translateY(0px); }
	20% { opacity: 0; -ms-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateW {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
