#hometext{
    width: 50%;
	position: relative;
    text-align: center;
    font-size: 2em;  
	padding-left: 25%;
    padding-top: 3%;
}

.introline {
	font-family: 'Lobster', cursive;
	font-size: 1.3em;
	color: rgb(217, 204, 150)
}

.introtext {
	height: 250px;
}

.rot-section {
	display: inline;
}

.rot-words span{
	width: 5em;
	text-align: center;
	font-family: 'Lobster', cursive;
	color: rgb(199, 182, 109);
	font-size: 2em;
	position: absolute;
	opacity: 0;
	overflow: hidden;
	-webkit-animation: rotateW 18s linear infinite 0s;
	-ms-animation: rotateW 18s linear infinite 0s;
	animation: rotateW 18s linear infinite 0s;
	margin-top: 3%;
	padding: 2%;
	margin-left: -48%;
}

.rot-words span:nth-child(2) { 
    -webkit-animation-delay: 3s; 
	-ms-animation-delay: 3s; 
	animation-delay: 3s; 
}

.rot-words span:nth-child(3) { 
    -webkit-animation-delay: 6s; 
	-ms-animation-delay: 6s; 
	animation-delay: 6s; 
}

.rot-words span:nth-child(4) { 
    -webkit-animation-delay: 9s; 
	-ms-animation-delay: 9s; 
	animation-delay: 9s; 
}

.rot-words span:nth-child(5) { 
    -webkit-animation-delay: 12s; 
	-ms-animation-delay: 12s; 
	animation-delay: 12s; 
}

.rot-words span:nth-child(6) { 
    -webkit-animation-delay: 15s; 
	-ms-animation-delay: 15s; 
	animation-delay: 15s; 
}

@-webkit-keyframes rotateW {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateW {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(-30px); }
	5% { opacity: 1; -ms-transform: translateY(0px);}
    17% { opacity: 1; -ms-transform: translateY(0px); }
	20% { opacity: 0; -ms-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateW {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
