body {
    margin: 0 auto;
    max-width: 100%;
    font-family: 'Open Sans', sans-serif;
	line-height: 1;
    font-size: 16px;
    color: #000;
    background-color: rgb(231, 76, 60); 
}

#tagline{ 
	padding-top: 2.2%;
    font-size: 4em;
    color: rgb(199, 182, 109);
    text-align: center;   
	padding-left: 10%;
	padding-right: 10%;
	font-family: 'Pacifico', cursive;
}

nav a {
	position: relative;
	margin: 15px 25px;
	color: #fff;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: 100;
}

/* Animation effect for the navigation bar */
/* Inspired from a demo on typmanus.net */

.nav-effect a::before,
.nav-effect a::after {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 90px;
	height: 90px;
	border: 2px solid rgba(248,248,255,0.5);
	border-radius: 50%;
	content: '';
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
	-moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
	transform: translateX(-50%) translateY(-50%) scale(0.2);
}

.nav-effect a::after {
	width: 70px;
	height: 70px;
	border-width: 4px;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
	-moz-transform: translateX(-50%) translateY(-50%) scale(0.8);
	transform: translateX(-50%) translateY(-50%) scale(0.8);
}

.nav-effect a:hover::before,
.nav-effect a:hover::after,
.nav-effect a:focus::before,
.nav-effect a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(1);
	-moz-transform: translateX(-50%) translateY(-50%) scale(1);
	transform: translateX(-50%) translateY(-50%) scale(1);
}

#navigation {
	position: absolute;
    text-align: center;
    width : 100%;
    display: block;
}

.navoption { 
	padding-top: 1.5em;
	padding-right: 1em;
	padding-left: 1em;
    display: inline-block;
}

#footer{
    display: block;
    text-align: center;
    font-size: 0.75em;
    bottom:0;
    width: 100%;
    height: 30px;
    color: rgb(154, 154, 154);
	position: fixed;
}

a {
	text-decoration: none;
	color: rgb(52, 73, 94)
}

.img-caption {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	color: #fff;
	visibility: hidden;
	line-height: 1.5;
}

#navigation:hover .img-caption {
	visibility: visible;
	opacity: 1;
}

#contactlist {
	text-align: center;
    width: 100%;
	font-family: 'Lobster', sans-serif;
	bottom: 5px;
	position: absolute;
	opacity: 0.5;
}

#contactlist:hover {
	opacity: 1;
}

#contactlist .footer {
	visibility: hidden;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.7em;
	color: rgb(161,161,161);
}

#contactlist:hover .footer {
	visibility: visible;
}

#subtag {
	text-align: center;
	color: rgb(199, 182, 109);
	font-size: 1.6em;
	font-family: 'Pacifico', cursive;
}

.links {
	margin-top: -18px;
	margin-bottom: -5px;
}
.contactlink {
	padding-left: 1em;
	padding-right: 1em;
}
