#subtitle-text {
	text-align: center;
	color: rgb(199, 182, 109);
	font-size: 1.4em;
	line-height: 1;
}

.special-link p {
	text-align: center;
	padding-left: 10%;
	padding-right: 10%;
}

.project-item {
	width: 300px;
	height: 70px;
	background-color: rgb(181, 58, 45);
	border: none;
	border-radius: 5px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.25em;
	cursor: pointer;
	display: inline-block;
	outline: none;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	line-height: 1;
	padding-top: 0.2em;
	text-align: center;
}

.project-item:hover {
	background-color: rgb(176, 37, 23);
}

button img {
	float:left;
	padding-left: 0.1em;
	width: 60px;
	height:60px;
}

#proj-container {
	padding-top: 0.8em;
	text-align: center;
    width: 100%;
}

.proj-row {
	margin-left: 3em;
	margin-right: 3em;
}

.subtext {
	font-size: 0.8em;
	font-family: 'Lobster', cursive;
	text-align: center;
}

