#tagline{ 
    padding-top: 10%;
    line-height: 10px;
    font-size: 400%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
    background-image: url(../images/test3.jpg);
    background-position: center center;
    background-size: 400%;
    color: rgb(199, 182, 109);
    text-align: center;   
}

#hometext{
    width: 100%;
    text-align: center;
    font-size: 20px;  
}

#subtag{
    padding-left: 59%;
    font-size: 40%;
    padding-top: 0;
    line-height: 10px
}

#hometext{
    text-align: center;
    width: 50%;
    padding-left: 25%;
    padding-top: 100px;
    line-height: 200%
}